draft.py
__pycache__/*
raw/__pycache__/*
staging/__pycache__/*
sandbox/__pycache__/*
lodgify-venv
staging/files/last_booking_per_id_month.csv
staging/files/first_subscription_per_id_month.csv
staging/files/booking.csv
staging/files/subscription.csv
sandbox/files/qtt_months_since_last_status_change.csv
sandbox/files/qtt_months_active_canceled.csv
sandbox/files/qtt_months_since_first_subscrition_approach1.csv
sandbox/files/qtt_months_since_first_subscrition_approach2.csv
sandbox/files/qtt_bookings_confirmed.csv
